#root {
  width : 100%;
  height : 100%;
}

html  {
  width : 100%;
  height : 100%;
}

body  {
  width : 100%;
  height : 100%; 
}

.HIGH {
  text-align: center;
  width : 100%;
  height : 100%;

}

.text {
  margin : 10px auto;
  resize : none;
  min-width : 400px;
  width : 80%;
  height : 50%;
  padding : 5px;
  font-size : 20px;
}

.text::spelling-error {
  text-decoration : none;
}

#ac {
  border-bottom: 1px #000000 solid;
}

#keys {
  text-align : left;
  margin : 0 auto;
  margin-top : 10px;
  width : 80%;
}